@media (max-width: 1200px) {
    body {
        padding-top: 125px;
    }

    .header {
        height: 76px;

        &__logo {
            width: 69px;
            height: 36px;
        }

        .container {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        &__nav {
            z-index: 10;
            position: fixed;
            top: 76px;
            height: calc(100% - 76px);
            width: 100%;
            background: var(--grey);
            left: 0;
            display: flex;
            flex-direction: column;
            gap: 40px;
            padding: 30px 15px;
            transition: var(--transition);
            transform: translateX(-100vw);

            &.active {
                transform: none;
            }

            .menu {
                display: grid;
                gap: 20px;
                text-align: center;
                justify-items: center;
                align-items: start;

                &>.menu-item {
                    &>a {
                        font-size: 18px;
                        line-height: 125%;
                    }
                }
            }
        }

        &__burger {
            display: block;
            transition: var(--transition);
            transform: none;

            &.active {
                width: 16px;
                height: 16px;
                background: url(../images/close.svg) center / contain no-repeat;
                transform: rotate(360deg);
            }
        }
    }

    .hero {
        .container {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    section {
        margin-top: 110px;
        margin-bottom: 110px;
    }

    .faq {
        &::before {
            background: url(../images/faq-line-mobile.svg) center top 65px / 100% calc(100% - 75px - 65px) no-repeat;
        }
    }

    .why {
        &::before {
            background: url(../images/why-line-mobile.svg) center bottom 120px / 100% calc(100% - 120px) no-repeat;
        }

        &__list {
            .why__item {
                &:nth-child(1) {
                    &::after {
                        top: 0;
                        bottom: 0;
                        right: 0;
                        width: 350px;
                        height: 100%;
                    }
                }
            }
        }

        &__item {
            padding: 40px 20px;
        }
    }

    .how {
        h2 {
            text-align: center;
        }

        &__btn {
            width: 100%;
            max-width: 800px;
            margin-top: 20px;
        }

        &__list {
            max-width: 800px;
            margin: auto;
            margin-top: 60px;
            grid-template-columns: 55px 1fr;
            row-gap: 30px;
            column-gap: 40px;
            align-items: start;
        }

        &__image {
            width: 100%;
            height: auto;
            margin-bottom: 30px;
            object-fit: contain;
            border-radius: 40px;

            &--1 {
                grid-row: 2;
                grid-column: 2;
            }

            &--2 {
                grid-row: 4;
                grid-column: 2;
            }

            &--3 {
                grid-row: 6;
                grid-column: 2;
            }
        }

        &__number {
            &--1 {
                grid-row: 1/3;
                grid-column: 1/2;

                &::after {
                    height: 500px;
                }
            }

            &--2 {
                grid-row: 3/5;
                grid-column: 1/2;

                &::after {
                    height: 500px;
                }
            }

            &--3 {
                grid-row: 5/7;
                grid-column: 1/2;

                &::after {
                    height: 500px;
                }
            }
        }

        &__content {
            &--1 {
                grid-row: 1;
                grid-column: 2;
            }

            &--2 {
                grid-row: 3;
                grid-column: 2;
            }

            &--3 {
                grid-row: 5;
                grid-column: 2;
            }
        }
    }

    .trade {
        &__list {
            grid-template-columns: 1fr;
            gap: 20px;
        }

        &__item {
            display: grid;
            grid-template-columns: 2fr 1fr;
            justify-items: start;
            gap: 70px;
            height: auto;
        }

        &__btn {
            width: auto;
            min-width: 280px;
            padding: 8px 20px;
            height: auto;
        }
    }

    .platform {
        &__list {
            grid-template-columns: 1fr;
        }

        &__item {
            p {
                max-width: 100%;
            }

            &:nth-child(1) {
                padding: 50px 45% 50px 70px;
                align-items: start;
                text-align: left;

                &::before {
                    width: 40%;
                    height: calc(100% - 30px);
                    top: 30px;
                    bottom: 0;
                    left: 60%;
                    right: 0;
                    transform: none;
                }

                &::after {
                    height: calc(100% - 30px);
                    width: 40%;
                    top: 30px;
                    bottom: 0;
                    left: auto;
                    right: 0;
                    background-position: right bottom;
                }
            }

            &:nth-child(2) {
                padding: 50px 45% 50px 70px;
                align-items: start;
                text-align: left;

                &::before {
                    width: 40%;
                    height: calc(100% - 30px);
                    top: 30px;
                    bottom: 0;
                    left: 60%;
                    right: 0;
                    transform: none;
                }

                &::after {
                    height: calc(100% - 30px);
                    width: 40%;
                    top: 30px;
                    bottom: 0;
                    left: auto;
                    right: 0;
                    background-position: center bottom;
                    transform: none;
                }
            }

            &:nth-child(3) {
                grid-column: initial;
                min-height: initial;
                padding: 50px 45% 50px 70px;
                align-items: start;
                text-align: left;

                &::before {
                    width: 40%;
                    height: 100%;
                    top: 0;
                    bottom: 0;
                    left: 60%;
                    right: 0;
                    transform: none;
                }

                &::after {
                    height: 100%;
                    width: 40%;
                    top: 0;
                    bottom: 0;
                    left: auto;
                    right: 0;
                    background-position: center;
                    transform: none;
                }
            }
        }

        &__btn {
            min-width: 240px;
        }
    }

    #trade {
        &::before {
            margin-top: -76px;
            padding-top: 76px;
        }
    }

    #platform {
        &::before {
            margin-top: -76px;
            padding-top: 76px;
        }
    }

    #analytics {
        &::before {
            margin-top: -76px;
            padding-top: 76px;
        }
    }

    #contacts {
        &::before {
            margin-top: -76px;
            padding-top: 76px;
        }
    }

    .contacts {
        &::after {
            background: url(../images/contacts-line.svg) right top 76px / 50% calc(70% - 76px) no-repeat;
        }
    }
}