@media (max-width: 1200px) {
    body {
        padding-top: 76px;
    }

    .header {
        height: 76px;

        &__logo {
            width: 69px;
            height: 36px;
        }

        .container {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        &__nav {
            display: none;
        }

        &__burger {
            display: block;
        }
    }
}