@media (max-width: 600px) {
    .hero {
        .container {
            grid-template-columns: 1fr;
            gap: 40px;
        }

        &__picture {
            max-width: 400px;
            margin: auto;
        }
    }

    .faq {
        &__list {
            .answer {
                font-weight: 300;
            }
        }
    }

    .how {
        h3 {
            &+p {
                font-weight: 300;
            }
        }

        &__image {
            margin-top: 15px;
        }

        &__btn {
            font-size: 18px;
            line-height: 22px;
            font-weight: 300;
        }
    }

    .trade {
        &__title {
            font-size: clamp(22px, 4vw, 25px);
        }

        &__info {
            font-size: 16px;
            line-height: 20px;
            font-weight: 300;
        }

        &__item {
            grid-template-columns: 2fr 1fr;
            gap: 40px;

            ul {
                li {
                    font-weight: 300;
                    font-size: 16px;

                    span {
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .platform {
        &__list {
            display: none;
        }

        &__item {
            gap: 15px;

            p {
                font-weight: 300;
            }

            &:nth-child(1) {
                padding: 40px 20px 290px;
                align-items: center;
                text-align: center;

                &::before {
                    width: 250px;
                    height: 280px;
                    top: auto;
                    bottom: -45px;
                    left: auto;
                    right: 20px;
                }

                &::after {
                    width: 100%;
                    height: 260px;
                    left: 0;
                    right: 0;
                    top: auto;
                    bottom: 0;
                    background: image-set(url(../images/platform-image-mobile-1.avif), url(../images/platform-image-mobile-1.webp), url(../images/platform-image-mobile-1.png)) right bottom / contain no-repeat;
                }

            }

            &:nth-child(2) {
                padding: 40px 20px 290px;
                align-items: center;
                text-align: center;

                &::before {
                    width: 280px;
                    height: 280px;
                    top: auto;
                    bottom: -45px;
                    left: auto;
                    right: -10px;
                }

                &::after {
                    height: 260px;
                    width: 100%;
                    top: auto;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    background: image-set(url(../images/platform-image-mobile-2.avif), url(../images/platform-image-mobile-2.webp), url(../images/platform-image-mobile-2.png)) right bottom / contain no-repeat;
                }
            }

            &:nth-child(3) {
                padding: 40px 20px 290px;
                align-items: center;
                text-align: center;

                &::before {
                    width: 280px;
                    height: 325px;
                    top: auto;
                    bottom: -60px;
                    left: auto;
                    right: -10px;
                }

                &::after {
                    height: 260px;
                    width: 100%;
                    top: auto;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    background: image-set(url(../images/platform-image-mobile-3.avif), url(../images/platform-image-mobile-3.webp), url(../images/platform-image-mobile-3.png)) right bottom / contain no-repeat;
                }
            }

            &:nth-child(4) {
                padding: 40px 20px 290px;

                &::before {
                    content: '';
                    position: absolute;
                    width: 280px;
                    height: 325px;
                    top: auto;
                    bottom: -60px;
                    left: auto;
                    right: -10px;
                    border-radius: 50%;
                    background: var(--accent);
                    filter: blur(50px);
                    opacity: .5;
                }

                &::after {
                    content: '';
                    position: absolute;
                    height: 260px;
                    width: 100%;
                    top: auto;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    background: image-set(url(../images/platform-image-mobile-3.avif), url(../images/platform-image-mobile-3.webp), url(../images/platform-image-mobile-3.png)) right bottom / contain no-repeat;
                }
            }
        }

        &__btns {
            width: 100%;
            margin-top: 15px;
        }

        &__btn {
            width: 100%;

            span {
                font-weight: 300;
            }

            &--su {
                span {
                    &::before {
                        width: 15px;
                        height: 17px;
                    }
                }
            }

            &--wt {
                span {
                    &::before {
                        width: 17px;
                        height: 17px;
                    }
                }
            }

            &--mac {
                span {
                    &::before {
                        width: 17px;
                        height: 17px;
                    }
                }
            }

            &--win {
                span {
                    &::before {
                        width: 17px;
                        height: 17px;
                    }
                }
            }
        }

        .swiper5 {
            display: block;
            margin-bottom: 30px;
        }

        .swiper6 {
            display: block;
        }
    }

    .analytics {
        h2 {
            &+p {
                font-weight: 300;
            }
        }
    }

    .btn-transparent {
        padding: 8px 20px;
        font-size: 18px;
        line-height: 22px;
        font-weight: 300;
    }

    .banner {
        .container {
            grid-template-columns: 1fr;
            gap: 40px;
            padding-top: 110px;
            padding-bottom: 30px;
        }

        &__picture {
            display: flex;
            justify-content: end;
            margin-right: -15px;
            margin-bottom: 0;

            img {
                max-width: 305px;
                height: 100%;
                object-fit: contain;
            }
        }

        &__btn {
            height: 40px;
        }
    }

    .feedback {
        &__estimation {
            font-weight: 300;
        }

        &__name {
            font-weight: 300;
        }
    }

    .swiper3 {
        .swiper-slide {
            p {
                font-weight: 300;
            }
        }
    }

    .contacts {
        h2 {
            &+p {
                font-weight: 300;
                font-size: 18px;
                line-height: 22px;
            }
        }

        &__tel {
            font-weight: 300;
        }

        &__address {
            font-weight: 300;
        }

        &__mail {
            font-weight: 300;
        }
    }

    .form {
        input {
            font-weight: 300;
            font-size: 18px;
            line-height: 22px;

            &::placeholder {
                font-weight: 300;
                font-size: 18px;
                line-height: 22px;
            }

            &[type=submit] {
                width: auto;
                min-width: 210px;
                height: 45px;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                background: var(--accent) url(../images/play-accent.svg) right 5px center / 35px 35px no-repeat;
            }
        }

        textarea {
            font-weight: 300;
            font-size: 18px;
            line-height: 22px;
            padding-bottom: 40px;

            &::placeholder {
                font-weight: 300;
                font-size: 18px;
                line-height: 22px;
            }
        }
    }
}