@media (max-width: 700px) {
    .why {
        &__list {
            .why__item {
                &:nth-child(1) {
                    padding-right: 40%;

                    &:after {
                        width: 40%;
                    }
                }

                &:nth-child(2) {
                    padding-right: 40%;

                    &::after {
                        width: calc(40% - 40px);
                    }
                }
            }
        }
    }

    .widget-box {
        &.desktop {
            display: none;
        }

        &.mobile {
            display: block;
        }
    }

    .swiper1 {
        max-width: 360px;
        margin-bottom: 30px;

        .swiper-wrapper {
            border-radius: 30px;
        }

        .swiper-slide {
            font-size: 16px;
            white-space: pre-wrap;
            font-weight: 300;

            &-thumb-active {
                border-radius: 26px;
                font-weight: 600;
            }
        }
    }
}