@media (max-width: 768px) {
    .trade {
        h2 {
            text-align: left;
        }

        &__item {
            grid-template-columns: repeat(2, 1fr);
            padding: 50px 20px;

            ul {
                margin-top: 30px;
            }
        }

        &__btn {
            min-width: 100%;
            font-size: 18px;
            margin-top: 40px;
        }

        &__list {
            &--new {
                .answer {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    gap: 30px;
                    margin-top: -67px;

                    .trade__price {
                        font-size: 18px;
                        line-height: 125%;
                        font-weight: 400;
                    }

                    ul {
                        li {
                            font-size: 16px;
                            line-height: 20px;
                            font-weight: 300;
                        }
                    }
                }

                .trade__price {
                    font-size: 16px;
                    line-height: 110%;
                    white-space: nowrap;
                }

                .trade__heading {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }

                .trade__intro {
                    gap: 20px;
                }

                .trade__link {
                    display: none;
                    font-size: 18px;
                    line-height: 125%;
                    font-weight: 300;

                    &.mobile {
                        display: flex;
                        white-space: nowrap;
                    }
                }

                &>li {
                    padding: 30px 20px;

                    &::before {
                        display: none;
                    }

                    &::after {
                        position: absolute;
                        content: '';
                        width: 20px;
                        height: 9px;
                        right: 20px;
                        top: 37px;
                        background: url(../images/arrow-3.svg) center / contain no-repeat;
                        transition: var(--transition);
                    }

                    h3 {
                        gap: 15px;

                        .popular {
                            padding: 4px 15px;
                            font-size: 8px;
                            line-height: 110%;
                            font-weight: 400;
                            border-radius: 5px;
                            transform: translateY(3px);
                        }
                    }

                    &.active {
                        &::after {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
    }

    .platform {
        h2 {
            margin-bottom: 40px;
        }

        &__item {
            &:nth-child(1) {
                padding: 40px 45% 40px 20px;
            }

            &:nth-child(2) {
                padding: 40px 45% 40px 20px;
            }

            &:nth-child(3) {
                padding: 40px 45% 40px 20px;
            }
        }

        &__btn {
            padding: 8px 20px;
        }
    }

    .faq {
        h2 {
            margin-bottom: 40px;
        }

        h3 {
            gap: 10px;
            align-items: start;
            font-size: 18px;

            span {
                grid-template-columns: 23px 1fr;
                gap: 15px;
                align-items: start;
                font-size: 18px;

                &::before {
                    width: 23px;
                    height: 23px;
                }
            }

            &::after {
                width: 20px;
                height: 9px;
                flex: 0 0 auto;
                transform: translateY(6px);
            }
        }

        &__list {
            li {
                padding: 20px;
                border-radius: 30px;
            }

            .answer {
                margin-top: 10px;
            }
        }
    }

    .contacts {
        h2 {
            margin-bottom: 15px;

            &+p {
                margin-bottom: 40px;
            }
        }

        &__tel {
            grid-template-columns: 18px 1fr;
            gap: 15px;

            &::before {
                width: 18px;
                height: 18px;
            }
        }

        &__address {
            grid-template-columns: 18px 1fr;
            gap: 15px;

            &::before {
                width: 18px;
                height: 18px;
            }
        }

        &__mail {
            grid-template-columns: 18px 1fr;
            gap: 15px;

            &::before {
                width: 18px;
                height: 18px;
            }
        }

        .form {
            padding: 50px 20px;
        }
    }

    .error-hero {
        &::before {
            width: 100%;
            height: calc(100% + 200px);
            left: 0;
            right: 0;
            bottom: -200px;
            top: auto;
            background: url(../images/error-line-mobile.svg) right bottom / 100% 100% no-repeat;
        }

        .container {
            padding-top: 75px;

            &::before {
                width: 175px;
                height: 90px;
                top: 100px;
                left: 130px;
            }
        }

        .btn-transparent {
            min-width: auto;
        }
    }
}