@media (max-width: 768px) {
    .trade {
        &__item {
            grid-template-columns: repeat(2, 1fr);
            padding: 50px 20px;

            ul {
                margin-top: 30px;
            }
        }

        &__btn {
            min-width: 100%;
            font-size: 18px;
            margin-top: 40px;
        }
    }

    .platform {
        h2 {
            margin-bottom: 40px;
        }

        &__item {
            &:nth-child(1) {
                padding: 40px 45% 40px 20px;
            }

            &:nth-child(2) {
                padding: 40px 45% 40px 20px;
            }

            &:nth-child(3) {
                padding: 40px 45% 40px 20px;
            }
        }

        &__btn {
            padding: 8px 20px;
        }
    }

    .faq {
        h2 {
            margin-bottom: 40px;
        }

        h3 {
            gap: 10px;
            align-items: start;
            font-size: 18px;

            span {
                grid-template-columns: 23px 1fr;
                gap: 15px;
                align-items: start;
                font-size: 18px;

                &::before {
                    width: 23px;
                    height: 23px;
                }
            }

            &::after {
                width: 20px;
                height: 9px;
                flex: 0 0 auto;
                transform: translateY(6px);
            }
        }

        &__list {
            li {
                padding: 20px;
                border-radius: 30px;
            }

            .answer {
                margin-top: 10px;
            }
        }
    }

    .contacts {
        h2 {
            margin-bottom: 15px;

            &+p {
                margin-bottom: 40px;
            }
        }

        &__tel {
            grid-template-columns: 18px 1fr;
            gap: 15px;

            &::before {
                width: 18px;
                height: 18px;
            }
        }

        &__address {
            grid-template-columns: 18px 1fr;
            gap: 15px;

            &::before {
                width: 18px;
                height: 18px;
            }
        }

        &__mail {
            grid-template-columns: 18px 1fr;
            gap: 15px;

            &::before {
                width: 18px;
                height: 18px;
            }
        }

        .form {
            padding: 50px 20px;
        }
    }

    .error-hero {
        &::before {
            width: 100%;
            height: calc(100% + 200px);
            left: 0;
            right: 0;
            bottom: -200px;
            top: auto;
            background: url(../images/error-line-mobile.svg) right bottom / 100% 100% no-repeat;
        }
        .container {
            padding-top: 75px;

            &::before {
                width: 175px;
                height: 90px;
                top: 100px;
                left: 130px;
            }
        }

        .btn-transparent {
            min-width: auto;
        }
    }
}