@media (max-width: 768px) {
    .trade {
        &__item {
            grid-template-columns: repeat(2, 1fr);
            padding: 50px 20px;

            ul {
                margin-top: 30px;
            }
        }

        &__btn {
            min-width: 100%;
            font-size: 18px;
            margin-top: 40px;
        }
    }
}