@media (max-width: 992px) {
    .hero {
        .container {
            grid-template-columns: 400px 400px;
        }
    }

    .why {
        &__list {
            grid-template-columns: 1fr;

            .why__item {
                &:nth-child(1) {
                    grid-column: initial;
                    height: 200px;
                    padding-right: 340px;
                }

                &:nth-child(2) {
                    padding-right: 250px;

                    &::after {
                        height: calc(100% - 20px);
                        top: 20px;
                        bottom: 0;
                        right: 20px;
                    }
                }
            }
        }

        &__item {
            height: 200px;
        }
    }
}