@media (min-width: 1024px) {
    .header {
        .menu {
            &>.menu-item {
                &>a {
                    transition: var(--transition);
                }

                &:hover {
                    &>a {
                        color: var(--accent);
                    }
                }
            }
        }

        &__logo {
            &:hover {
                filter: brightness(0) saturate(100%) invert(65%) sepia(56%) saturate(695%) hue-rotate(173deg) brightness(101%) contrast(105%);
            }
        }
    }

    .contacts {
        &__tel {
            &:hover {
                color: var(--accent);
            }
        }

        &__mail {
            &:hover {
                color: var(--accent);
            }
        }
    }

    .footer {
        &__logo {
            &:hover {
                filter: brightness(0) saturate(100%) invert(65%) sepia(56%) saturate(695%) hue-rotate(173deg) brightness(101%) contrast(105%);
            }
        }

        &__tel {
            &:hover {
                color: var(--accent);
            }
        }

        &__mail {
            &:hover {
                color: var(--accent);
            }
        }

        .menu {
            &>.menu-item {
                &>a {
                    transition: var(--transition);
                }

                &:hover {
                    &>a {
                        font-weight: 700;
                    }
                }
            }
        }

        &__docs {
            a {
                transition: var(--transition);

                &:hover {
                    font-weight: 700;

                    &::before {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .btn-transparent {
        transition: var(--transition);

        &:hover {
            color: var(--black);
            background: var(--accent);
            border-color: var(--accent);

            span {
                &::before {
                    filter: brightness(0) saturate(100%) invert(4%) sepia(2%) saturate(5038%) hue-rotate(149deg) brightness(90%) contrast(91%);
                }
            }

            &::after {
                filter: brightness(0) saturate(100%) invert(4%) sepia(2%) saturate(5038%) hue-rotate(149deg) brightness(90%) contrast(91%);
            }
        }
    }

    .btn {
        transition: var(--transition);

        &:hover {
            background: var(--white);
            border-color: var(--white);
        }
    }

    .hero {
        &__btn {
            &:hover {
                background: var(--white) url(../images/play-white.svg) right 5px center / 45px 45px no-repeat;
            }
        }
    }

    .form {
        input {
            &[type="submit"] {
                &:hover {
                    background: var(--white) url(../images/play-white.svg) right 5px center / 45px 45px no-repeat;
                    border-color: var(--white);
                }
            }
        }
    }

    .upButton {
        &:hover {
            transition: var(--transition);
            transform: scale(1.2);
        }
    }

    .why {
        &__item {
            &:hover {
                background: #75757533;
                transform: scale(1.02);
            }
        }
    }

    .trade {
        &__item {
            &:hover {
                transform: scale(1.01);
            }
        }
    }
}