@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/swiper/swiper-bundle';
@import '../scss/keyframes';

@font-face {
    font-family: 'benzin';
    src: url(../fonts/Benzin-Semibold.woff2);
}

:root {
    --accent: #57C7FF;
    --black: #111415;
    --white: #EFEFEF;
    --grey: #242424;
    --backdrop: #00000057;
    --transition: .3s ease-in-out all;
}

html,
body {
    background: var(--grey);
    overflow-x: clip;
}

body {
    padding-top: 135px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

    scrollbar-width: thin;
    scrollbar-color: var(--accent) var(--grey);

    &::-webkit-scrollbar {
        height: 12px;
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: var(--grey);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--accent);
        border-radius: 5px;
        border: 3px solid var(--grey);
    }
}

.container {
    z-index: 1;
    position: relative;
    max-width: calc(1320px + 30px);
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

h1 {
    font-family: 'benzin';
    font-size: clamp(30px, 6vw, 50px);
    line-height: 110%;
    font-weight: 400;
    color: var(--white);
}

h2 {
    font-family: 'benzin';
    font-size: clamp(25px, 6vw, 42px);
    line-height: 110%;
    font-weight: 400;
    color: var(--white);
}

h3 {
    font-family: 'benzin';
    font-size: clamp(22px, 4vw, 25px);
    line-height: 110%;
    font-weight: 400;
    color: var(--white);
}

.text {
    font-size: clamp(18px, 4vw, 22px);
    line-height: 130%;
    font-weight: 400;
    color: var(--white);
}

.text2 {
    font-size: clamp(16px, 4vw, 18px);
    line-height: 120%;
    font-weight: 400;
    color: var(--white);
}

.upButton {
    z-index: 1000;
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 15px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    transform: scale(0);
    pointer-events: none;
    background: var(--accent) url(../images/up-btn.svg) center / 20px no-repeat;
    border-radius: 50%;

    &.show {
        transition: all 1s ease-in-out;
        transform: scale(1);
        pointer-events: all;
    }
}

.cookies {
    display: none;
    position: fixed;
    z-index: 10;
    bottom: 40px;
    left: 40px;
    right: 40px;
    margin-left: auto;
    max-width: 450px;
    gap: 20px;
    align-items: start;
    background: #333333;
    padding: 25px;
    border-radius: 5px;
    color: var(--white);

    p {
        font-size: 16px;
    }

    a {
        color: var(--white);
    }

    .btn {
        margin-top: 10px;
        padding: 10px 30px;
        font-size: 14px;
    }
}

.header {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 135px;
    background: var(--grey);

    &__burger {
        display: none;
        width: 24px;
        height: 16px;
        background: url(../images/header-burger.svg) center / contain no-repeat;
        border: none;
        cursor: pointer;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &__logo {
        width: 108px;
        height: 55px;
        background: url(../images/header-logo.svg) center / contain no-repeat;
        cursor: pointer;
    }

    &__nav {
        display: flex;
        gap: 155px;
        align-items: center;
    }

    .menu {
        display: flex;
        align-items: center;
        gap: 65px;
        list-style: none;

        a {
            text-decoration: none;
        }

        &>.menu-item {
            &>a {
                color: var(--white)
            }
        }
    }
}

.btn {
    display: inline-block;
    padding: 13px 58px;
    font-size: clamp(18px, 4vw, 25px);
    font-weight: 400;
    line-height: 110%;
    border: 1px solid var(--accent);
    background: var(--accent);
    border-radius: 70px;
    color: var(--grey);
    text-decoration: none;
}

.btn-transparent {
    display: inline-block;
    padding: 8px 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 125%;
    border: 1px solid var(--white);
    border-radius: 70px;
    color: var(--white);
    text-decoration: none;

    &::after {
        transition: var(--transition);
    }
}

section {
    margin-top: 120px;
    margin-bottom: 120px;

    &:first-child {
        margin-top: 0;
    }
}

.footer {
    margin-top: 120px;
    background: var(--black);

    &__tel {
        transition: var(--transition);
    }

    &__mail {
        transition: var(--transition);
    }

    .container {
        display: grid;
        grid-template-columns: 340px 120px 340px 205px;
        column-gap: 105px;
        row-gap: 115px;
        padding-top: 120px;
        padding-bottom: 60px;
    }

    &__logo {
        width: 127px;
        height: 65px;
        margin-bottom: 30px;
        background: url(../images/footer-logo.svg) center / contain no-repeat;
        cursor: pointer;
    }

    &__contacts {
        p {
            margin-bottom: 20px;
            color: var(--white);
        }

        a {
            display: block;
            color: #EFEFEF99;
            text-decoration: none;

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }

    .menu {
        display: flex;
        flex-direction: column;
        gap: 20px;
        list-style: none;

        &>.menu-item {
            &>a {
                color: var(--white);
                text-decoration: none;
            }
        }
    }

    &__docs {
        display: flex;
        flex-direction: column;
        gap: 20px;

        a {
            display: grid;
            grid-template-columns: 24px 1fr;
            gap: 10px;
            align-items: center;
            color: var(--white);
            text-decoration: none;

            &::before {
                content: '';
                width: 24px;
                height: 20px;
                background: url(../images/footer-doc.svg) center / contain no-repeat;
                opacity: 0.6;
                transition: var(--transition);
            }
        }
    }

    &__icons {
        display: grid;
        column-gap: 25px;
        row-gap: 20px;
        grid-template-columns: repeat(3, 50px);
        grid-template-rows: 50px 50px;

        div {
            width: 50px;
            height: 50px;

            &:nth-child(1) {
                background: url(../images/footer-icon-1.svg) center / contain no-repeat;
            }

            &:nth-child(2) {
                background: url(../images/footer-icon-2.svg) center / contain no-repeat;
            }

            &:nth-child(3) {
                background: url(../images/footer-icon-3.svg) center / contain no-repeat;
            }

            &:nth-child(4) {
                background: url(../images/footer-icon-4.svg) center / contain no-repeat;
            }

            &:nth-child(5) {
                background: url(../images/footer-icon-5.svg) center / contain no-repeat;
            }

            &:nth-child(6) {
                background: url(../images/footer-icon-6.svg) center / contain no-repeat;
            }
        }
    }

    &__info {
        grid-column: 1/5;

        p {
            font-size: 16px;
            color: #EFEFEF99;
        }

        .copyright {
            margin-top: 30px;
            text-align: center;
        }
    }
}

.hero {
    h1 {
        margin-bottom: 20px;
    }

    &__btn {
        margin-top: 40px;
        min-width: 240px;
        height: 55px;
        padding: 12px 30px;
        text-align: left;
        background: var(--accent) url(../images/play-accent.svg) right 5px center / 45px 45px no-repeat;
    }

    .container {
        display: grid;
        grid-template-columns: 600px 650px;
        gap: 70px;
        align-items: center;
    }

    &__picture {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
            position: absolute;
            content: '';
            width: 80%;
            height: 65%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #57C7FF99;
            border-radius: 50%;
            filter: blur(50px);
            opacity: 0.8;
        }

        img {
            position: relative;
            width: 100%;
        }
    }
}

.why {
    position: relative;

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../images/why-line.svg) center bottom 120px / 100% calc(100% - 120px) no-repeat;
        animation: animationLine 30s ease-in-out infinite;
    }

    h2 {
        position: relative;
        margin-bottom: 20px;

        &+p {
            position: relative;
            max-width: 670px;
        }
    }

    &__list {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);

        .why__item {
            &:nth-child(1) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 330px;
                grid-column: 1/3;

                p {
                    max-width: 370px;
                }

                &::before {
                    z-index: -1;
                    position: absolute;
                    content: '';
                    background: var(--accent);
                    width: 420px;
                    height: 320px;
                    bottom: -145px;
                    right: 40px;
                    border-radius: 50%;
                    filter: blur(50px);
                    opacity: 0.5;
                }

                &::after {
                    position: absolute;
                    content: '';
                    width: 470px;
                    height: 270px;
                    top: 60px;
                    right: 60px;
                    background: image-set(url(../images/why-item-4.avif),
                            url(../images/why-item-4.webp),
                            url(../images/why-item-4.png),
                        ) right bottom / contain no-repeat;
                }
            }

            &:nth-child(2) {
                &::before {
                    z-index: -1;
                    position: absolute;
                    content: '';
                    background: var(--accent);
                    width: calc(100% - 30px);
                    height: 160px;
                    bottom: calc(100% - 50px);
                    left: 15px;
                    border-radius: 50%;
                    filter: blur(50px);
                    opacity: 0.5;
                }

                &::after {
                    position: absolute;
                    content: '';
                    width: 240px;
                    height: 163px;
                    bottom: 0;
                    right: 30px;
                    background: image-set(url(../images/why-item-5.avif),
                            url(../images/why-item-5.webp),
                            url(../images/why-item-5.png),
                        ) right bottom / contain no-repeat;
                }
            }
        }
    }

    &__item {
        position: relative;
        padding: 45px 30px;
        border-radius: 20px;
        background: var(--backdrop);
        backdrop-filter: blur(15px);
        overflow: clip;
        transition: var(--transition);
    }

    h3 {
        margin-bottom: 20px;
    }
}

.swiper4 {
    margin-top: 60px;
    margin-bottom: 20px;

    .swiper-slide {
        height: initial;
    }

    .why__item {
        &:nth-child(1) {
            &::before {
                z-index: -1;
                position: absolute;
                content: '';
                background: var(--accent);
                width: calc(100% - 30px);
                height: 160px;
                top: calc(100% - 50px);
                left: 15px;
                border-radius: 50%;
                filter: blur(50px);
                opacity: 0.5;
            }
        }

        &:nth-child(2) {
            &::before {
                z-index: -1;
                position: absolute;
                content: '';
                background: var(--accent);
                width: calc(100% - 30px);
                height: 160px;
                top: calc(100% - 50px);
                left: 15px;
                border-radius: 50%;
                filter: blur(50px);
                opacity: 0.5;
            }
        }

        &:nth-child(3) {
            &::before {
                z-index: -1;
                position: absolute;
                content: '';
                background: var(--accent);
                width: calc(100% - 30px);
                height: 160px;
                top: calc(100% - 50px);
                left: 15px;
                border-radius: 50%;
                filter: blur(50px);
                opacity: 0.5;
            }
        }
    }

    .swiper-pagination {
        position: initial;
        margin-top: 20px;
    }

    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        margin: 0 5px !important;
        background: #EFEFEF66;
        opacity: 1;

        &-active {
            background: var(--accent);
        }
    }
}

img {
    max-width: 100%;
}

.how {
    overflow: clip;

    &__list {
        display: grid;
        column-gap: 75px;
        row-gap: 60px;
        grid-template-columns: 1fr 55px 1fr;
        align-items: center;
        margin-top: 60px;
    }

    &__image {
        box-shadow: 0px 0px 40px 10px rgba(239, 239, 239, 0.2);
        border-radius: 30px;
        height: 292px;

        &--2 {
            grid-column: 3/4;
            grid-row: 2;
        }
    }

    &__content {
        display: grid;
        gap: 20px;

        &--2 {
            grid-column: 1/2;
            grid-row: 2;
        }

        &--3 {
            p {
                max-width: 345px;
            }
        }
    }

    &__number {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 55px;
        height: 55px;
        background: var(--accent);
        border-radius: 50px;
        font-weight: 400;
        font-size: 41px;
        line-height: 110%;
        color: var(--black);

        &::after {
            position: absolute;
            content: '';
            width: 2px;
            height: 300px;
            background: #EFEFEF66;
            top: 100%;
            left: calc(50% - 1px);
        }
    }

    &__btn {
        position: relative;
        left: 50%;
        width: 370px;
        height: 58px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 60px;
        padding: 7px 40px;
        transform: translateX(-50%);
        font-size: 22px;
        line-height: 125%;
        font-weight: 400;
        background: var(--grey);

        &::after {
            content: '';
            width: 28px;
            height: 14px;
            background: url(../images/arrow.svg) center / contain no-repeat;
        }
    }
}

.trade {
    h2 {
        margin-bottom: 50px;
    }

    &__top {
        z-index: 1;
        position: relative;
    }

    &__bottom {
        z-index: 1;
        position: relative;
    }

    &__list {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
    }

    &__item {
        position: relative;
        height: 590px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
        padding: 60px 40px;
        border-radius: 20px;
        background: var(--backdrop);
        color: var(--white);
        overflow: clip;
        transition: var(--transition);

        ul {
            display: grid;
            gap: 15px;
            margin-top: 50px;
            list-style: none;

            li {
                font-size: 18px;
                line-height: 23px;

                span {
                    font-weight: 700;
                }
            }
        }

        &.popular {
            border: 1.5px solid var(--accent);
            background: #57C7FF33;

            &::before {
                z-index: 1;
                position: absolute;
                content: 'Popular';
                top: 10px;
                right: 10px;
                padding: 5px 25px;
                font-family: 'benzin';
                font-size: clamp(9px, 2vw, 14px);
                color: var(--black);
                background: var(--accent);
                border-radius: 10px;
            }
        }

        &:nth-child(1) {
            &::after {
                position: absolute;
                content: '';
                top: 180px;
                left: -110px;
                width: 308px;
                height: 175px;
                background: var(--accent);
                border-radius: 50%;
                filter: blur(50px);
                opacity: 0.5;
            }
        }

        &:nth-child(3) {
            &::after {
                position: absolute;
                content: '';
                top: -50px;
                right: -35px;
                width: 290px;
                height: 200px;
                background: var(--accent);
                border-radius: 50%;
                filter: blur(50px);
                opacity: 0.5;
            }
        }
    }

    &__title {
        font-weight: 400;
        font-size: 25px;
        line-height: 110%;
    }

    &__info {
        margin-top: 10px;
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        width: 100%;
        height: 60px;
        margin-top: 50px;
        padding: 7px 40px;
        white-space: nowrap;

        &::after {
            content: '';
            width: 28px;
            height: 14px;
            background: url(../images/arrow-2.svg) center / contain no-repeat;
        }
    }
}

.platform {
    h2 {
        margin-bottom: 60px;
    }

    h3 {
        position: relative;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 50px 70px;
        background: var(--backdrop);
        border-radius: 20px;
        text-align: center;
        overflow: clip;

        p {
            position: relative;
            max-width: 370px;
        }

        &:nth-child(1) {
            padding-bottom: 430px;

            &::before {
                position: absolute;
                content: '';
                left: 50%;
                bottom: -185px;
                transform: translateX(-50%);
                width: 530px;
                height: 540px;
                border-radius: 50%;
                background: var(--accent);
                filter: blur(50px);
                opacity: 0.5;
            }

            &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 369px;
                bottom: 0;
                right: 0;
                background: image-set(url(../images/platform-image-1.avif),
                        url(../images/platform-image-1.webp),
                        url(../images/platform-image-1.png),
                    ) center / contain no-repeat;
            }
        }

        &:nth-child(2) {
            padding-bottom: 430px;

            &::before {
                position: absolute;
                content: '';
                left: 50%;
                bottom: -185px;
                transform: translateX(-50%);
                width: 530px;
                height: 540px;
                border-radius: 50%;
                background: var(--accent);
                filter: blur(50px);
                opacity: 0.5;
            }

            &::after {
                content: '';
                position: absolute;
                width: 442px;
                height: 369px;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                background: image-set(url(../images/platform-image-2.avif),
                        url(../images/platform-image-2.webp),
                        url(../images/platform-image-2.png),
                    ) center / contain no-repeat;
            }
        }

        &:nth-child(3) {
            min-height: 440px;
            grid-column: 1/3;
            align-items: start;
            justify-content: center;
            text-align: left;

            &::before {
                position: absolute;
                content: '';
                right: 0;
                top: 105px;
                width: 768px;
                height: 522px;
                border-radius: 50%;
                background: var(--accent);
                filter: blur(50px);
                opacity: 0.5;
            }

            &::after {
                content: '';
                position: absolute;
                width: 615px;
                height: 425px;
                bottom: 0;
                right: 40px;
                background: image-set(url(../images/platform-image-3.avif),
                        url(../images/platform-image-3.webp),
                        url(../images/platform-image-3.png),
                    ) center / contain no-repeat;
            }
        }
    }

    &__btns {
        position: relative;
        display: grid;
        gap: 15px;
        margin-top: 20px;
    }

    &__btn {
        min-width: 345px;
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
        padding: 17px 20px;

        &::after {
            content: '';
            width: 28px;
            height: 14px;
            background: url(../images/arrow.svg) center / contain no-repeat;
        }

        span {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &--su {
            span {
                &::before {
                    content: '';
                    width: 21px;
                    height: 24px;
                    background: url(../images/platform-btn-su.svg) center / contain no-repeat;
                    transition: var(--transition);
                }
            }
        }

        &--wt {
            span {
                &::before {
                    content: '';
                    width: 24px;
                    height: 24px;
                    background: url(../images/platform-btn-wt.svg) center / contain no-repeat;
                    transition: var(--transition);
                }
            }
        }

        &--mac {
            span {
                &::before {
                    content: '';
                    width: 24px;
                    height: 24px;
                    background: url(../images/platform-btn-mac.svg) center / contain no-repeat;
                    transition: var(--transition);
                }
            }
        }

        &--win {
            span {
                &::before {
                    content: '';
                    width: 24px;
                    height: 24px;
                    background: url(../images/platform-btn-win.svg) center / contain no-repeat;
                    transition: var(--transition);
                }
            }
        }
    }
}

.widget-box {
    .mch-widget {
        margin: auto;
    }
}

.swiper1 {
    max-width: 915px;
    margin: auto;
    padding: 0px 5px;
    margin-bottom: 40px;

    .swiper-wrapper {
        border: 2px solid var(--white);
        text-align: center;
        border-radius: 50px;
    }

    .swiper-slide {
        padding: 10px;
        font-size: 22px;
        line-height: 27.5px;
        color: var(--white);
        cursor: pointer;
        transition: var(--transition);
        white-space: nowrap;

        &-thumb-active {
            color: var(--black);
            background: var(--accent);
            border-radius: 50px;
        }
    }
}

.analytics {
    text-align: center;

    h2 {
        margin-bottom: 20px;

        &+p {
            max-width: 915px;
            margin: auto;
            margin-bottom: 60px;
        }
    }
}

.faq {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../images/faq-line.svg) center top 65px / 100% calc(100% - 75px - 65px) no-repeat;
        animation: animationLine 30s ease-in-out infinite;
    }

    h2 {
        position: relative;
        margin-bottom: 60px;
    }

    &__list {
        width: 100%;
        display: grid;
        gap: 20px;
        list-style: none;

        li {
            padding: 25px 40px;
            background: var(--backdrop);
            border-radius: 50px;
            backdrop-filter: blur(15px);
            cursor: pointer;

            &.active {
                h3 {
                    &::after {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        .answer {
            margin-top: 30px;
        }
    }

    h3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;

        span {
            display: grid;
            grid-template-columns: 35px 1fr;
            gap: 30px;
            align-items: center;
            font-family: 'benzin';

            &::before {
                content: '';
                width: 35px;
                height: 35px;
                background: url(../images/faq-icon.svg) center / contain no-repeat;
            }
        }

        &::after {
            content: '';
            width: 31px;
            height: 14px;
            background: url(../images/arrow-3.svg) center / contain no-repeat;
            transition: var(--transition);
        }
    }
}

.swiper3 {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;

    .swiper-button-prev {
        top: 120px;
        left: 0;
        margin-top: 0;
        width: 14px;
        height: 31px;
        background: url(../images/prev.svg) center / contain no-repeat;

        &::after {
            display: none;
        }
    }

    .swiper-button-next {
        top: 120px;
        right: 0;
        margin-top: 0;
        width: 14px;
        height: 31px;
        background: url(../images/next.svg) center / contain no-repeat;

        &::after {
            display: none;
        }
    }
}

.feedback {
    min-height: 500px;

    h2 {
        margin-bottom: 60px;
        text-align: center;
    }

    &__item {
        display: grid;
        gap: 30px;
        padding: 20px 30px 30px;
        border: 1px solid var(--accent);
        border-radius: 20px;
        background: var(--black);

        p {
            //display: -webkit-box;
            //-webkit-box-orient: vertical;
            //-webkit-line-clamp: 2;
            //overflow: hidden;
            transition: var(--transition);
            height: 45px;
            overflow: hidden;
            background: linear-gradient(180deg, #EFEFEF 0%, rgba(255, 255, 255, 0) 106.52%);
            background-clip: text;
            color: transparent;
        }

        &.swiper-slide {
            transition: var(--transition);
        }

        &.swiper-slide-active {
            p {
                display: block;
                height: 100%;
                color: var(--white);
            }
        }
    }

    &__picture {
        margin-top: -40px;
    }

    &__content {
        display: grid;
        grid-template-columns: 117px 1fr;
        gap: 15px;
        align-items: end;
        justify-items: start;
    }

    &__stars {
        display: inline-grid;
        gap: 5px;
        align-items: center;
        grid-template-columns: 14px 1fr;
        margin-bottom: 20px;
        padding: 4px 10px;
        font-size: 14px;
        line-height: 17.5px;
        color: var(--white);
        border-radius: 40px;
        border: 1px solid #EFEFEF99;

        &::before {
            content: '';
            width: 14px;
            height: 14px;
            background: url(../images/star.svg) center / contain no-repeat;
        }
    }

    &__estimation {
        margin-bottom: 5px;
    }

    &__name {
        color: var(--accent)
    }
}

.contacts {
    position: relative;
    background: var(--black);

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../images/contacts-line.svg) right top 135px / 50% calc(70% - 135px) no-repeat;

        animation: animationLine2 10s ease-in-out infinite;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        align-items: center;
        padding-top: 120px;
        padding-bottom: 120px;
    }

    h2 {
        margin-bottom: 20px;

        &+p {
            max-width: 560px;
            margin-bottom: 50px;
        }
    }

    &__list {
        max-width: 315px;
        display: grid;
        gap: 20px;
        list-style: none;
    }

    &__tel {
        display: grid;
        grid-template-columns: 23px 1fr;
        gap: 30px;
        align-items: center;
        text-decoration: none;
        transition: var(--transition);

        &::before {
            content: '';
            width: 23px;
            height: 23px;
            background: url(../images/contacts-tel.svg) center / contain no-repeat;
        }
    }

    &__address {
        display: grid;
        grid-template-columns: 23px 1fr;
        gap: 30px;
        align-items: center;
        font-style: initial;

        &::before {
            content: '';
            width: 23px;
            height: 23px;
            background: url(../images/contacts-address.svg) center / contain no-repeat;
        }
    }

    &__mail {
        display: grid;
        grid-template-columns: 23px 1fr;
        gap: 30px;
        align-items: center;
        text-decoration: none;
        transition: var(--transition);

        &::before {
            content: '';
            width: 23px;
            height: 23px;
            background: url(../images/contacts-mail.svg) center / contain no-repeat;
        }
    }
}

.form {
    z-index: 1;
    position: relative;
    display: grid;
    gap: 30px;
    padding: 95px 75px;
    border-radius: 20px;
    background: #75757533;
    backdrop-filter: blur(15px);
    overflow: clip;

    &::before {
        position: absolute;
        content: '';
        width: 550px;
        height: 260px;
        right: -15px;
        top: -160px;
        border-radius: 50%;
        background: var(--accent);
        filter: blur(100px);
        opacity: 0.5;
    }

    input {
        width: 100%;
        padding: 10px 0;
        background: transparent;
        border: none;
        border-bottom: 1px solid #EFEFEF99;
        font-size: 22px;
        line-height: 27.5px;
        color: var(--white);
        outline: none;

        &::placeholder {
            font-size: 22px;
            line-height: 27.5px;
            color: var(--white);
        }

        &[type='submit'] {
            min-width: 240px;
            width: auto;
            height: 55px;
            padding: 12px 30px;
            font-size: 25px;
            line-height: 27.5px;
            color: var(--grey);
            border-radius: 50px;
            background: var(--accent) url(../images/play-accent.svg) right 5px center / 45px 45px no-repeat;
            border-bottom: none;
            cursor: pointer;
            text-align: left;
            transition: var(--transition);
        }
    }

    textarea {
        width: 100%;
        padding: 10px 0 60px;
        background: transparent;
        border: none;
        border-bottom: 1px solid #EFEFEF99;
        font-size: 22px;
        line-height: 27.5px;
        color: var(--white);
        outline: none;
        resize: none;

        &::placeholder {
            font-size: 22px;
            line-height: 27.5px;
            color: var(--white);
        }
    }

    &__info {
        max-width: 395px;
        font-size: 14px;
        line-height: 17.5px;
        color: #EFEFEF99;

        a {
            display: block;
            color: var(--white);
            text-decoration: underline;
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        gap: 13px;
    }
}

.banner {
    margin-top: -120px;
    margin-bottom: -120px;
    overflow: clip;

    h2 {
        margin-bottom: 40px;
    }

    .container {
        display: grid;
        grid-template-columns: 650px 670px;
        gap: 20px;
        align-items: center;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &__btn {
        max-width: 370px;
        height: 58px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 7px 40px;

        &::after {
            content: '';
            display: block;
            width: 28px;
            height: 14px;
            background: url(../images/arrow.svg) center / contain no-repeat;
        }
    }

    &__picture {
        position: relative;
        margin-bottom: -60px;
        height: calc(100% + 60px);

        img {
            position: relative;
            width: 100%;
            height: 100%;
        }

        &::before {
            position: absolute;
            content: '';
            bottom: -160px;
            left: 0;
            width: 100%;
            height: 600px;
            border-radius: 50%;
            background: var(--accent);
            filter: blur(100px);
            opacity: 0.5;
        }
    }
}

#trade {
    &::before {
        content: '';
        display: block;
        margin-top: -135px;
        padding-top: 135px;
        visibility: hidden;
    }
}

#platform {
    &::before {
        content: '';
        display: block;
        margin-top: -135px;
        padding-top: 135px;
        visibility: hidden;
    }
}

#analytics {
    &::before {
        content: '';
        display: block;
        margin-top: -135px;
        padding-top: 135px;
        visibility: hidden;
    }
}

#contacts {
    &::before {
        content: '';
        display: block;
        margin-top: -135px;
        padding-top: 135px;
        background: var(--grey);
    }
}

@import '../scss/hovers';
@import '../scss/1800';
@import '../scss/1400';
@import '../scss/1300';
@import '../scss/1200';
@import '../scss/1024';
@import '../scss/992';
@import '../scss/900';
@import '../scss/768';
@import '../scss/700';
@import '../scss/600';
@import '../scss/500';
@import '../scss/360';