<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale = 1.0">

    <!-- Берется из js -->
    <title></title>

    <link rel="stylesheet" href="css/style.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__logo"></div>

            <nav class="header__nav">
                <ul class="menu">
                    <li class="menu-item"><a href="#trade">Trading terms</a></li>
                    <li class="menu-item"><a href="#platform">Platform</a></li>
                    <li class="menu-item"><a href="#analitycs">Analytics</a></li>
                    <li class="menu-item"><a href="#contacts">Contacts</a></li>
                </ul>

                <a href="##" class="btn-transparent">Sign in</a>
            </nav>
        </div>
    </header>